<nav class="navbar navbar-expand-lg border-bottom sticky-top wander-navbar">
  <div class="container-fluid nav-shell">

    <a class="navbar-brand brand-lockup" href="/listings">
      <i class="fa-regular fa-compass"></i>
      <span>WanderLust</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <form
        class="nav-search"
        action="/listings"
        method="GET"
      >

        <label class="nav-search-segment nav-search-input-wrap">
          <span>Where</span>

          <input
            type="search"
            name="q"
            placeholder="Search destinations"
            value="<%= typeof searchQuery !== 'undefined' ? searchQuery : '' %>"
            required
          />
        </label>

        <span class="nav-search-segment nav-search-static">
          <span>Check in</span>
          <small>Add dates</small>
        </span>

        <span class="nav-search-segment nav-search-static">
          <span>Who</span>
          <small>Add guests</small>
        </span>

        <button class="nav-search-button" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>

      </form>

      <div class="navbar-nav nav-actions">

        <a class="nav-link host-link" href="/listings/new">
          Host your home
        </a>

        <% if (currUser) { %>

          <div class="dropdown user-menu">
            <button
              class="nav-user-pill dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-solid fa-bars"></i>
              <i class="fa-solid fa-circle-user"></i>
              <span><%= currUser.username %></span>
            </button>

            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="/dashboard">
                  Dashboard
                </a>
              </li>

              <li>
                <a class="dropdown-item" href="/listings/wishlist">
                  Wishlist
                </a>
              </li>

              <li>
                <a class="dropdown-item" href="/listings/my-bookings">
                  My Trips
                </a>
              </li>

              <li><hr class="dropdown-divider"></li>

              <li>
                <a class="dropdown-item text-danger" href="/logout">
                  Logout
                </a>
              </li>

            </ul>
          </div>

        <% } else { %>

          <a class="nav-link fw-semibold" href="/signup">
            Signup
          </a>

          <a class="nav-link fw-semibold" href="/login">
            Login
          </a>

        <% } %>

      </div>

    </div>
  </div>
</nav>